<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuby Bot</title>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Tuby Bot</h1>
        <p>This is the telegram bot</p>
        <a href="http://t.me/@TubyBot" class="btn btn-primary btn-lg">See bot</a>
    </div>
</div>

</body>
</html>